[contenteditable]:focus {
    outline: 0px solid transparent;
}

.block {
}

.block.underline {
	border-bottom: 2px solid #1DA1F2;
}

.bullet {
	width: 18px;
	position: absolute;
}

.block-content {
	padding-left: 24px;
}

.children {
	margin-left: 10px;
    padding-left: 25px;
    border-left: 1px solid rgb(236, 238, 240);
}
